@use "../../styles/typography" as *;
@use "../../styles/colors" as *;

.StyledLink {
  padding: 16px 96px;
  border-radius: 3px;
  text-decoration: none;
}

.text {
  @include body6;

  color: $white;
  white-space: nowrap;

  .secondary & {
    color: $darkblue-300;
  }

  .carat & {
    margin-right: 7.5px;
    color: $darkblue-300;
  }

  .nav & {
    color: $blue-300;
  }
}

.primary {
  background-color: $darkblue-300;
  color: #fff;
}

.secondary {
  border: 2px solid $darkblue-300;
  background-color: transparent;
  color: $darkblue-300;
}

.carat {
  display: inline-flex;
  align-items: center;
  padding: 0;
  color: $darkblue-300;
}

.nav {
  svg path {
    fill: $blue-300;
  }
}
