@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.footer {
  background-color: $white;
}

.main {
  padding-top: to-rem(64);
  padding-bottom: to-rem(24);

  @include media-breakpoint-down(sm) {
    padding-bottom: to-rem(8);
  }

  &_Container {
    @include containerGrid;
  }
}

.content {
  @include spanColumns(4);
}

.brandLink {
  display: inline-block;
  vertical-align: top;

  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.tagline {
  @include body8;

  width: 157px;
  max-width: 100%;
  margin-top: to-rem(8);
  margin-bottom: 0;
  line-height: 1rem;
}

.contactWrap,
.copyrightWrap {
  margin-top: to-rem(32);
}

.socialLinks {
  display: flex;
  column-gap: $grid-column-gap;
}

.socialLink {
  svg {
    display: block;
  }
}

.contact {
  margin-top: to-rem(8);

  &_Intro {
    @include body7;

    margin-bottom: to-rem(8);
  }

  &_Info {
    @include body8;

    margin-bottom: 0;
    white-space: pre-wrap;
  }
}

.copyright,
.copyrightDescription {
  @include body12;

  margin-bottom: 0;
  color: $darkgray-300;
}

.copyrightDescription {
  margin-top: to-rem(16);
}

.nav {
  @include spanColumns(8);

  @include media-breakpoint-down(md) {
    @include spanColumns(4);
  }

  @include media-breakpoint-down(sm) {
    margin-top: to-rem(24);
  }
}

.legal {
  padding-top: to-rem(24);
  padding-bottom: to-rem(24);
  background-color: $darkgray-100;
  color: $white;

  &_Container {
    @include container;
  }
}
