@use "../../styles/mixins" as *;

.wrap {
  background-color: pink;
}

.container {
  @include container;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: greenyellow;
}

.logoGrid {
  @include grid;

  border: 3px dotted orange;
}
