@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/spacing" as *;
@use "../../styles/typography" as *;

.container {
  @include containerGrid;

  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  background-color: $coolgray-300;

  @include media-breakpoint-up(md) {
    padding-top: $spacing-x-large;
    padding-bottom: $spacing-x-large;
  }
}

.hero {
  &Left {
    @include spanColumns(6, 1);
  }

  &Header {
    margin-bottom: $spacing-standard;
    padding-right: $spacing-x-large;
  }

  &Subheader {
    @include body1;

    margin-bottom: $spacing-medium;
  }

  &Right {
    @include spanColumns(6, 7);

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
    }
  }

  .subsection {
    // display: none;
  }
}
