@use "../../../../styles/mixins" as *;
@use "../../../../styles/typography" as *;
@use "../../../../styles/colors" as *;
@use "../../../../styles/spacing" as s;

.filterGroup {
  margin: 0;
  padding: 0;
  border: 0;
}

.legend {
  @include body9;

  margin-bottom: to-rem(s.$spacing-standard);
  color: $charcoal-300;
  font-weight: 620;
  letter-spacing: to-rem(0.5px);
  text-transform: uppercase;

  @include media-breakpoint-down(md) {
    margin-bottom: to-rem(s.$spacing-small);
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: s.$spacing-x-small;
}

.filter {
  @include buttonReset;
  @include body5;

  padding: s.$spacing-x-small;
  color: $darkgray-100;
  letter-spacing: to-rem(0.5px);
  text-align: left;
  text-transform: uppercase;

  &__selected {
    background-color: $coolgray-500;
  }
}
