@use "../../../../styles/mixins" as *;
@use "../../../../styles/typography" as *;
@use "../../../../styles/colors" as *;
@use "../../../../styles/spacing" as s;

.post {
  @include body9;

  padding: to-rem(s.$spacing-small);
  padding-right: 0;
  border-bottom: 1px solid $coolgray-200;
  color: $darkblue-300;

  &_Inner {
    > :last-child {
      margin-bottom: 0;
    }
  }

  &_Meta {
    display: flex;
    align-items: center;
    margin-bottom: to-rem(s.$spacing-small);
    gap: s.$spacing-standard;
  }

  &_Type {
    @include body9;

    padding: 0 s.$spacing-x-small;
    border: 2px solid $darkblue-300;
    border-radius: 4px;
    font-weight: 620;
    letter-spacing: to-rem(0.5px);
    text-transform: uppercase;
  }

  &_Date,
  &_Publication {
    font-weight: 344;
    text-transform: uppercase;
  }

  &_Publication__link {
    &,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }

  &_Title {
    @include body3;

    margin-bottom: to-rem(s.$spacing-small);

    a {
      &,
      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: $darkblue-300;
      }
    }
  }
}
