@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.header {
  position: sticky;
  top: 0;
  background-color: $white;
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
